<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_1660662.Properties.Settings.QLHSConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataDPOAccess\QLHS.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_1660662.Properties.Settings.E__DEADLINE_LẬP_TRÌNH_ỨNG_DỤNG_QUẢN_LÍ_1_TUẦN_03_1660662_1660662_DATADPOACCESS_QLHS_MDFConnectionString"
            connectionString="Data Source=DESKTOP-H6J9M44\QTCSDL;Initial Catalog=&quot;E:\DEADLINE\LẬP TRÌNH ỨNG DỤNG QUẢN LÍ 1\TUẦN 03\1660662\1660662\DATADPOACCESS\QLHS.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>